@model ProyectoWeb.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user)
        </dd>



    </dl>
</div>
<p>

    @Html.ActionLink(" Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary glyphicon glyphicon-pencil"})|
    @Html.RouteLink(" Regresar", new { controller = "Usuarios", action = "Index" }, new { @class = "glyphicon glyphicon-circle-arrow-left btn btn-warning " })
</p>
