<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="My ASP.NET Application" />
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Imprenta San Carlos</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle login" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Bienvenido @Request.Cookies["userName"].Value<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/login/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center"><img src="../../../images/find_user.png" class="user-image img-responsive" /></li>
                    <li class="mantenimiento">
                        <a href="#"><i class="fa fa-cogs"></i> Mantenimiento<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li class ="cliente"><a href="Clientes" ">Cliente</a></liclass>
                            <li class="usuario">@Html.RouteLink("Usuario", new { controller = "Usuarios", Action = "Index" })</li>
                            <li class="informacion">@Html.RouteLink("Informacion", new { controller = "Informacion" })</li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-windows"></i> Procesos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="orden">@Html.RouteLink(" Ordenes De La Semana", new { controller = "Ordenes", action = "index" })</li>
                            <li class="proceso">@Html.RouteLink(" Proceso Orden", new { controller = "Proceso", action = "index" })</li>
                            <li class="buscar">@Html.RouteLink(" Buscar Orden", new { controller = "BuscarOrden", action = "index" })</li>
                        </ul>
                    </li>

                </ul>

            </div>

        </nav>
        
    </div>
        </nav>

    <div class="container-fluid " id="page-wrapper">
        @RenderBody()
        
    </div><!--fin div container-->

    </div>
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)

</body>
</html>
