<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="My ASP.NET Application" />

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nombreMenu" href="#">Imprenta San Carlos</a>
            </div>


            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Bienvenido Administrador</a>

            </ul>


            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav side-nav">
                    <li><h3>Mantenimiento</h3></li>
                    <li class="cliente">@Html.RouteLink(" Insertar Cliente", new { controller = "Clientes", action = "index" }, new { @class = "glyphicon glyphicon-user" })</li>
                    <li class="usuario">@Html.RouteLink(" Insertar Usuario", new { controller = "Usuarios", action = "index" }, new { @class = "glyphicon glyphicon-user" })</li>
                    <li class="informacion">@Html.RouteLink(" Insertar Informacion", new { controller = "Informacion", action = "index" }, new { @class = "glyphicon glyphicon-folder-open" })</li>
                    <li><h3>Mantenimiento</h3></li>
                    <li class="cliente">@Html.RouteLink(" Ordenes De La Semana", new { controller = "Ordenes", action = "index" }, new { @class = "glyphicon glyphicon-search" })</li>
                    <li class="usuario">@Html.RouteLink(" Proceso Orden", new { controller = "Usuarios", action = "index" }, new { @class = "glyphicon glyphicon-user" })</li>
                    <li class="informacion">@Html.RouteLink(" Buscar Orden", new { controller = "Informacion", action = "index" }, new { @class = "glyphicon glyphicon-folder-open" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <div class="container-fluid">
            @RenderBody()
        </div><!--fin div container-->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KsL_Tapa</p>
        </footer>
    </div>
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
