

@{
    ViewBag.Title = "Create";
    Layout = null;
}


<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img src="images/logo-imprenta.png">
                <h4 class="modal-title custom_align" id="heading-user-show">Crear Cliente</h4>
            </div>



            <div class="modal-body">
                @using (Html.BeginForm("Create","Clientes"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Cliente</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Nombre", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Nombre", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Apellidos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Apellidos", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Apellidos", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Telefono", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Telefono", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Correo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Correo", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Correo", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Back to List", "Index")                                   
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 

