@model ProyectoWeb.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink(" Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" }) |
   @Html.RouteLink(" Regresar", new { controller = "Clientes", action = "Index" }, new { @class = "glyphicon glyphicon-circle-arrow-left btn btn-warning " })
</p>
