
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="content">
            <div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
            <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example"></label></div>
            <table id="mytable" class="table table-striped table-bordered table-responsive">
                <h1 class="title-top-table">
                    Cliente


                    <tr><th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th></tr>
                    @for (var i = 0; i < ViewBag.Lunes.Count + ViewBag.Martes.Count + ViewBag.Miercoles.Count + ViewBag.Jueves.Count + ViewBag.Viernes.Count; i++)
                        {
                            if (i < ViewBag.Lunes.Count || i < ViewBag.Martes.Count || i < ViewBag.Miercoles.Count || i < ViewBag.Jueves.Count || i < ViewBag.Viernes.Count)
                            {
                                <tr>

                                @if (i < ViewBag.Lunes.Count)
                                    {
                                        if (@ViewBag.Lunes[i].ubicacion == 5)
                                        {
                                            <td class="finalizo">@ViewBag.Lunes[i].num_orden</td>
                                        }
                                        else
                                        {
                                            <td>@ViewBag.Lunes[i].num_orden</td>

                                        }


                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                @if (i < ViewBag.Martes.Count)
                                    {

                                        if (@ViewBag.Martes[i].ubicacion == 5)
                                        {
                                            <td class="finalizo">@ViewBag.Martes[i].num_orden</td>
                                        }
                                        else
                                        {
                                            <td>@ViewBag.Martes[i].num_orden</td>

                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                @if (i < ViewBag.Miercoles.Count)
                                    {

                                        if (@ViewBag.Miercoles[i].ubicacion == 5)
                                        {
                                            <td class="finalizo">@ViewBag.Miercoles[i].num_orden</td>
                                        }
                                        else
                                        {
                                            <td>@ViewBag.Miercoles[i].num_orden</td>

                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                @if (i < ViewBag.Jueves.Count)
                                    {

                                        if (@ViewBag.Jueves[i].ubicacion == 5)
                                        {
                                            <td class="finalizo">@ViewBag.Jueves[i].num_orden</td>
                                        }
                                        else
                                        {
                                            <td>@ViewBag.Jueves[i].num_orden</td>

                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                @if (i < ViewBag.Viernes.Count)
                                    {

                                        if (@ViewBag.Viernes[i].ubicacion == 5)
                                        {
                                            <td class="finalizo">@ViewBag.Viernes[i].num_orden</td>
                                        }
                                        else
                                        {
                                            <td>@ViewBag.Viernes[i].num_orden</td>

                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                            </tr>
                            }



                        }



            </table>
           
        </div>
    </div>
</div>



@section scripts
{
    <script>
                $("li.ordenes").addClass("active");
    </script>

 
}




